<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</head>

<body>
    <div id="root">
        <h3>WEB-SSH实现</h3>
        <input id="connstr" type="text" style="width: 300px;"> <button id="conn">连接</button>
        <div id="cmdpanel" style="display: none;"><input type="text" id="cmd"><button id="send">发送</button></div>
        <div class="console">
            命令行执行结果<hr>
        </div>
    </div>
</body>

</html>
<script>
    $(function () {
        $('#connstr').val('  192.168.142.140, python  python,   22  ')
        $('#conn').click(function () { // querystring request请求的header部分第一行
            $.get("/ssh?connstr=" + $('#connstr').val(), function (data) {
                console.log(data)
                if (data.meta.code) {
                    return console.log(data.meta.msg) // 未来用提示组件完成
                }
                // 连接成功了
                console.log($('#cmdpanel').css('display'))
                $('#cmdpanel').css('display', 'block')
            });
        })
        $('#send').click(function () {
            const cmd = $('#cmd').val()
            // ajax vue react 一定离不开的ajax
            $.get(`/ssh/${cmd}`, function(data) {
                console.log(data)
                if (data.meta.code) {
                    return console.log(data.meta.msg) // 未来用提示组件完成
                }
                
                $('.console').append('<div >' + data.data.output + '</div>')
            })
        })
    })
</script>